@font-face {
    font-family: Assistant-Regular;
    src: url(./Assistant-Font/Assistant-Regular.ttf);
}
@font-face {
    font-family: Assistant-Bold;
    src: url(./Assistant-Font/Assistant-Bold.ttf);
}
@font-face {
    font-family: Assistant-Light;
    src: url(./Assistant-Font/Assistant-Light.ttf);
}

* {
    box-sizing: border-box;
  }
  p{
    margin: 0;
  }
  :root{
    --font-Regular: Assistant-Regular;
    --font-Bold: Assistant-Bold;
    --font-Light: Assistant-Light;
    --black: #191414;
    --green:#1DB954;
    --gray: #f3f4f6;
    --cherry: #990011ff;
    
}
html,body{
    height: 100%;
    margin: 0;
    font-family: var(--font-Regular);
}
@media (min-width: 60em){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 7fr;
    }
    #header{
        grid-row: 1;
    }
    #content{
        grid-row: 2;
    }
}

body{
    display: grid;
}
/* Header */ 
#header{
    display: flex;
    font-size: var(--font-Bold);
    font-size: 19px;
    justify-content:space-around;
    align-items: center;
    background: rgb(249,231,254);
    background: radial-gradient(circle, rgba(249,231,254,1) 0%, 
    rgba(218,252,252,1) 100%);
    color: var(--color-black)
}
#add-book{
    background-color: var(--black);
    color: white;
    font: var(--font-Bold);
    border: 1px transparent;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    
}
#add-book:hover{
    box-shadow: 3px 4px var(--green);
}


/* All Buttons */ 
button:hover{
   box-shadow: 3px 4px var(--black);
   cursor:pointer;
 }

 button:focus{
    background-color: transparent;
  }

 /* Content */
 #content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 2rem;
    row-gap: 3rem;
    padding: 1rem;
    padding-left: 5rem;
    background-color: var(--gray);
 }
 .book-box{
    display: flex;
    width: 270px;
    height: 350px;
    gap: 2rem;
    flex-direction: column;
    border: 4px solid var(--black);
    background-color: white;
    color: var(--black);
    box-shadow: 15px 15px 0 -4px white, 
    15px 15px black;
    font-size: 18px;
    padding: 2rem;
 }

 .box_up{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    gap: 1em; 
 }
 .box_up>p{
    font-family: var(--font-Bold);
 }

 .box_btm{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    gap: 1rem;
 }




 /* Buttons Read & Remove */
 .delete_btn,.read_btn{
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    color: white;
}
.delete_btn{
    background-color: var(--cherry);
}

 /* Form */ 
 #book-form{
    display: none;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
 }
 form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f3f4f6;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 7px;
    top: 50%;
    left: 50%;
    color: var(--black);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
 }
 #form-input{
    padding: 2rem;
    display: flex;
    flex-direction: column;
 }
 input{
    margin-bottom: 1rem;
 }
 .book-read{
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1rem;
    text-align: center;
    vertical-align: middle;
 }

 input[type=checkbox] {
    transform: scale(1.3);
}


